<div class="title text-center pb-4">
    <h3>We choose for you</h3>
  </div>
  <div class="container d-flex justify-content-center pb-4 align-items-center">
    <div class="d-lg-flex">
      <div class="card-ov bg-body-tertiary border-0 me-lg-4 mb-lg-0 mb-4">
        <div class="backgroundEffect"></div>
        <div class="pic"> <img class="" src="img/interior-3.png" alt="">
          <div class="date"> <span class="day">$</span> <span class="month"></span> <span class="year"></span> </div>
        </div>
        <div class="content">
          <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
          <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia, there live the blind texts.</p>
          <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
            <a href="../../produk.html" class="btn btn-primary" ">More<span class="fas fa-arrow-right"></span></a>
            <div class="d-flex align-items-center justify-content-center foot">
              <p class="admin">Admin</p>
              <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-ov bg-body-tertiary border-0 me-lg-4 mb-lg-0 mb-4">
        <div class="backgroundEffect"></div>
        <div class="pic"> <img class="" src="img/interior-1.png" alt="">
          <div class="date"> <span class="day">$</span> <span class="month"></span> <span class="year"></span> </div>
        </div>
        <div class="content">
          <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
          <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia, there live the blind texts.</p>
          <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
            <a href="../../produk.html" class="btn btn-primary">More<span class="fas fa-arrow-right"></span></a>
            <div class="d-flex align-items-center justify-content-center foot">
              <p class="admin">Admin</p>
              <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-ov bg-body-tertiary border-0 mb-lg-0 mb-4">
        <div class="backgroundEffect"></div>
        <div class="pic"> <img class="" src="img/interior-2.png" alt="">
          <div class="date"> <span class="day">$</span><span class="year"></span> </div>
        </div>
        <div class="content">
          <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
          <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia, there live the blind texts.</p>
          <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
            <a href="../../produk.html" class="btn btn-primary">More<span class="fas fa-arrow-right"></span></a>
            <div class="d-flex align-items-center justify-content-center foot">
              <p class="admin">Admin</p>
              <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>