<div class="container d-flex justify-content-center pb-5" style="padding-top: 150px;" >
    <div class="card mb-3  border-0  shadowbg-transparent" style="max-width: 90%;">
      <div class="row g-0">
        <div class="col-md-7 pe-2 ">
          <img src="img/section-1.png" class="img-fluid rounded-0 " alt="...">
        </div>
        <div class="col-md-5 text-black">
          <div class="card-body py-0">
            <h5 class="card-title fs-2">Get Your Dream Property</h5>
            <p style="text-align: justify" class="card-text lh-base mb-0">In Aksara, you will find a wide selection of properties
              that meet your needs and preferences. From modern apartments in the city center to exclusive villas by the
              beach, this site offers a wide range of properties to suit your lifestyle and dreams. With thousands of
              property listings that you can explore, Aksara makes it easy to find your dream home. </p>
              <a href="#" class="btn btn-info">About Us</a>
          </div>
        </div>
      </div>
    </div>
</div>