<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content w-auto ">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-close p-4" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="container d-flex align-items-center flex-column ">
                    <h1 class="modal-title fs-5 " id="exampleModalLabel">Payment Details</h1>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 ">
                    <div class="col border-top-0">
                      <div class="card">
                        <img src="img/interior-3.png" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</div>