<div class="container-fluid">
    <a class="navbar-brand" onclick="loadPage('page/home.html')" href="#">
        <img src="img/logo/logo.png" alt="Logo" width="200" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav me-auto p-2">
            <li class="nav-item">
                <a class="nav-link" aria-current="page""
                    href="../index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../produk.html">Products</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    More
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item border border-top-0" href="#">Action</a></li>
                    <li><a class="dropdown-item border border-top-0" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Action</a></li>
                </ul>
            </li>
        </ul>

        <div class="d-flex ps-4 align-items-center">
            <div class="form-check form-switch pe-2">
                <label class="form-check-label" for="flexSwitchCheckDefault">Light</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" onclick="toggleTheme()" type="checkbox" role="switch" id="mode">
                <label class="form-check-label" for="mode">Dark</label>
            </div>
            <div class="container d-flex">
                <a href="#" type="button" onclick="formLogin()" class="fw-bolder btn btn-sm border border-secondary me-2">Login</a>
                <a href="#" type="button" onclick="formRegister()" class="fw-bolder btn-sm text-white btn btn-info border border-secondary ">Register</a>
            </div>
        </div>
    </div>
<script src="../js/script.js"></script>
    

</div>